html,body{
  padding : 0;
  margin : 0;
  height : 100% ;
  width : 100%;
  background : #282a36;
  color : white;
  font-family: sans-serif;
  font-size: 16px;
  min-width : 800px;
  overflow-x: auto;
}
button{
  padding: 8px 12px;
  background: transparent;
  outline: none;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  font-weight: bold;
  text-transform: uppercase;
  cursor : pointer;
  margin-right : 5px;
}

*{
  box-sizing: border-box;
}

#app{
  height : 100vh;
  width : 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#row{
  display: flex;
  flex-direction: column;
  flex : 1;
  transition: all 1s ease;
}

#sidebar{
  flex : 0 0 200px;
}

#main {
  flex : 1;
  padding : 0 20px;
  display: flex;
  flex-direction: column;
}

#header{
  background : #B7178C;
  overflow: hidden;
  color : white;
  padding: 16px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid #282a36;
  h1 {
    font-size: 1.5em;
    margin : 0;
    flex : 1;
  }
  p{
    margin : 0;
    margin-left : 15px;
  }
  a {
    color : inherit;
  }
}

#navbar{
  background : #44475a;
  padding: 8px 16px;
  flex : 0 0 47px;
  height : 47px;
  overflow: hidden;
  transition: flex 500ms ease;
  &.active{
    flex : 1;
    display: flex;
    flex-direction: column;
    > * {
      margin : 5px;
    }
    + #row{
      flex : 0;
    }
  }
  > .go-back{
      margin-top: 1.7em !important;
  }
  > div > button{
    border: 1px solid white;
  }
}

#playground{
  display : flex;
  .playground-column {
    width: 50%;
    word-break: break-all;
    overflow: hidden;
    flex : 0 0 50%;
    display: flex;
    flex-direction: column;
  }
  .playground-outputs{
    display : flex;
    flex : 1;
  }
  .playground-row{
    display: flex;
    flex : 1;
    height : 100%;
    flex-direction: row;
  }
  #console, #output{
    color : white;
  }
  #output{
    display: flex;
    flex-direction: column;
    height: 100%;
    > div {
      flex : 1;
    }
    iframe{
     border : none;
     color : white;
     height: 100%;
   }
  }
  #console ul{
    list-style: none;
  }

  #html, #editor{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex : 1;
  > div {
    overflow: auto;
  }
    .CodeMirror{
      height : auto;
    }
  }
}
.editor-tab{
  button{
    padding: 8px 12px;
    background: transparent;
    outline: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    font-weight: bold;
    text-transform: uppercase;
    cursor : pointer;
    &:not(.active){
      opacity : 0.3;
    }
  }
}

.tutorial-groups{
  display: flex;
  .tutorial-group{
    flex : 1;
  }
  .tutorials{
    list-style: none;
    margin: 0px;
    padding: 0px;
    .tutorial {
        padding: 8px 16px 8px 0;
    }
  }
}

.tutorial-detail{
  display: flex;
  width: 100%;
  padding: 16px;
  border: 3px dashed #fff;
  flex: 1;
  flex-direction: column;
  .tutorial-content{
    flex : 1;
    display: flex;
  }
  .tutorial-js, .tutorial-html{
    flex : 1;
    width : 50%;
  }
  .CodeMirror {
    height: 100%;
  }
}
.tutorial-html{
  margin-right : 5px;
}
.tutorial-js, .tutorial-html{
  display: flex;
  flex-direction: column;
}
.try-button{
  background: dodgerblue;
    font-size: 1em;
    color: white;
    border: 2px solid white;
    margin-left: 12px;
    cursor: pointer;
    padding: 12px 24px;
}

#run-button{
  background : dodgerblue;
  border : none;
}

#clear-button{
  background : sandybrown;
  border : none;
}

#stop-button{
  background : orangered;
  border : none;
}

@import "repl.scss";
