// .CodeMirror {
//   font-family: monospace;
//   height: 300px;
//   color: #000;
// }
//
// .CodeMirror-lines {
//   padding: 4px 0;
// }
//
// .CodeMirror pre {
//   padding: 0 4px;
// }
//
// .CodeMirror-gutter-filler, .CodeMirror-scrollbar-filler {
//   background-color: #fff;
// }
//
// .CodeMirror-gutters {
//   border-right: 1px solid #ddd;
//   background-color: #f7f7f7;
//   white-space: nowrap;
// }
//
// .CodeMirror-linenumber {
//   padding: 0 3px 0 5px;
//   min-width: 20px;
//   text-align: right;
//   color: #999;
//   white-space: nowrap;
// }
//
// .CodeMirror-guttermarker {
//   color: #000;
// }
//
// .CodeMirror-guttermarker-subtle {
//   color: #999;
// }
//
// .CodeMirror-cursor {
//   border-left: 1px solid #000;
//   border-right: none;
//   width: 0;
// }
//
// .CodeMirror div.CodeMirror-secondarycursor {
//   border-left: 1px solid silver;
// }
//
// .cm-fat-cursor {
//   .CodeMirror-cursor {
//     width: auto;
//     border: 0 !important;
//     background: #7e7;
//   }
//   div.CodeMirror-cursors {
//     z-index: 1;
//   }
// }
//
// .cm-animate-fat-cursor {
//   width: auto;
//   border: 0;
//   -webkit-animation: a 1.06s steps(1) infinite;
//   animation: a 1.06s steps(1) infinite;
//   background-color: #7e7;
// }
//
// @-webkit-keyframes a {
//   50% {
//     background-color: transparent;
//   }
// }
//
//
// @keyframes a {
//   50% {
//     background-color: transparent;
//   }
// }
//
//
// .cm-tab {
//   display: inline-block;
//   text-decoration: inherit;
// }
//
// .CodeMirror-rulers {
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: -50px;
//   bottom: -20px;
//   overflow: hidden;
// }
//
// .CodeMirror-ruler {
//   border-left: 1px solid #ccc;
//   top: 0;
//   bottom: 0;
//   position: absolute;
// }
//
// .cm-s-default {
//   .cm-header {
//     color: blue;
//   }
//   .cm-quote {
//     color: #090;
//   }
// }
//
// .cm-negative {
//   color: #d44;
// }
//
// .cm-positive {
//   color: #292;
// }
//
// .cm-header, .cm-strong {
//   font-weight: 700;
// }
//
// .cm-em {
//   font-style: italic;
// }
//
// .cm-link {
//   text-decoration: underline;
// }
//
// .cm-strikethrough {
//   text-decoration: line-through;
// }
//
// .cm-s-default {
//   .cm-keyword {
//     color: #708;
//   }
//   .cm-atom {
//     color: #219;
//   }
//   .cm-number {
//     color: #164;
//   }
//   .cm-def {
//     color: #00f;
//   }
//   .cm-variable-2 {
//     color: #05a;
//   }
//   .cm-variable-3 {
//     color: #085;
//   }
//   .cm-comment {
//     color: #a50;
//   }
//   .cm-string {
//     color: #a11;
//   }
//   .cm-string-2 {
//     color: #f50;
//   }
//   .cm-meta, .cm-qualifier {
//     color: #555;
//   }
//   .cm-builtin {
//     color: #30a;
//   }
//   .cm-bracket {
//     color: #997;
//   }
//   .cm-tag {
//     color: #170;
//   }
//   .cm-attribute {
//     color: #00c;
//   }
//   .cm-hr {
//     color: #999;
//   }
//   .cm-link {
//     color: #00c;
//   }
// }
//
// .cm-invalidchar, .cm-s-default .cm-error {
//   color: red;
// }
//
// .CodeMirror-composing {
//   border-bottom: 2px solid;
// }
//
// div.CodeMirror span {
//   &.CodeMirror-matchingbracket {
//     color: #0f0;
//   }
//   &.CodeMirror-nonmatchingbracket {
//     color: #f22;
//   }
// }
//
// .CodeMirror-matchingtag {
//   background: rgba(255, 150, 0, 0.3);
// }
//
// .CodeMirror-activeline-background {
//   background: #e8f2ff;
// }
//
// .CodeMirror {
//   position: relative;
//   overflow: hidden;
//   background: #fff;
// }
//
// .CodeMirror-scroll {
//   overflow: scroll !important;
//   margin-bottom: -30px;
//   margin-right: -30px;
//   padding-bottom: 30px;
//   height: 100%;
//   outline: none;
//   position: relative;
// }
//
// .CodeMirror-sizer {
//   position: relative;
//   border-right: 30px solid transparent;
// }
//
// .CodeMirror-gutter-filler, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler {
//   position: absolute;
//   z-index: 5;
//   display: none;
// }
//
// .CodeMirror-vscrollbar {
//   position: absolute;
//   z-index: 5;
//   display: none;
//   right: 0;
//   top: 0;
//   overflow-x: hidden;
//   overflow-y: scroll;
// }
//
// .CodeMirror-hscrollbar {
//   bottom: 0;
//   left: 0;
//   overflow-y: hidden;
//   overflow-x: scroll;
// }
//
// .CodeMirror-scrollbar-filler {
//   right: 0;
//   bottom: 0;
// }
//
// .CodeMirror-gutter-filler {
//   left: 0;
//   bottom: 0;
// }
//
// .CodeMirror-gutters {
//   position: absolute;
//   left: 0;
//   top: 0;
//   min-height: 100%;
//   z-index: 3;
// }
//
// .CodeMirror-gutter {
//   white-space: normal;
//   height: 100%;
//   display: inline-block;
//   vertical-align: top;
//   margin-bottom: -30px;
//   *zoom: 1;
//   *display: inline;
// }
//
// .CodeMirror-gutter-wrapper {
//   position: absolute;
//   z-index: 4;
//   background: none !important;
//   border: none !important;
// }
//
// .CodeMirror-gutter-background {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   z-index: 4;
// }
//
// .CodeMirror-gutter-elt {
//   position: absolute;
//   cursor: default;
//   z-index: 4;
// }
//
// .CodeMirror-gutter-wrapper {
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   user-select: none;
// }
//
// .CodeMirror-lines {
//   cursor: text;
//   min-height: 1px;
// }
//
// .CodeMirror pre {
//   border-radius: 0;
//   border-width: 0;
//   background: transparent;
//   font-family: inherit;
//   font-size: inherit;
//   margin: 0;
//   white-space: pre;
//   word-wrap: normal;
//   line-height: inherit;
//   color: inherit;
//   z-index: 2;
//   position: relative;
//   overflow: visible;
//   -webkit-tap-highlight-color: transparent;
//   -webkit-font-variant-ligatures: none;
//   font-variant-ligatures: none;
// }
//
// .CodeMirror-wrap pre {
//   word-wrap: break-word;
//   white-space: pre-wrap;
//   word-break: normal;
// }
//
// .CodeMirror-linebackground {
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   z-index: 0;
// }
//
// .CodeMirror-linewidget {
//   position: relative;
//   z-index: 2;
//   overflow: auto;
// }
//
// .CodeMirror-code {
//   outline: none;
// }
//
// .CodeMirror-gutter, .CodeMirror-gutters, .CodeMirror-linenumber, .CodeMirror-scroll, .CodeMirror-sizer {
//   box-sizing: content-box;
// }
//
// .CodeMirror-measure {
//   position: absolute;
//   width: 100%;
//   height: 0;
//   overflow: hidden;
//   visibility: hidden;
// }
//
// .CodeMirror-cursor {
//   position: absolute;
//   pointer-events: none;
// }
//
// .CodeMirror-measure pre {
//   position: static;
// }
//
// div.CodeMirror-cursors {
//   visibility: hidden;
//   position: relative;
//   z-index: 3;
// }
//
// .CodeMirror-focused div.CodeMirror-cursors, div.CodeMirror-dragcursors {
//   visibility: visible;
// }
//
// .CodeMirror-selected {
//   background: #d9d9d9;
// }
//
// .CodeMirror-focused .CodeMirror-selected {
//   background: #d7d4f0;
// }
//
// .CodeMirror-crosshair {
//   cursor: crosshair;
// }
//
// .CodeMirror-line {
//   &::selection {
//     background: #d7d4f0;
//   }
//   > span {
//     &::selection, > span::selection {
//       background: #d7d4f0;
//     }
//   }
//   &::-moz-selection {
//     background: #d7d4f0;
//   }
//   > span {
//     &::-moz-selection, > span::-moz-selection {
//       background: #d7d4f0;
//     }
//   }
// }
//
// .cm-searching {
//   background: #ffa;
//   background: rgba(255, 255, 0, 0.4);
// }
//
// .CodeMirror span {
//   *vertical-align: text-bottom;
// }
//
// .cm-force-border {
//   padding-right: 0.1px;
// }
//
// @media print {
//   .CodeMirror div.CodeMirror-cursors {
//     visibility: hidden;
//   }
// }
//
// .cm-tab-wrap-hack:after {
//   content: "";
// }
//
// span.CodeMirror-selectedtext {
//   background: none;
// }
//
// .cm-s-dracula {
//   &.CodeMirror {
//     background-color: #282a36 !important;
//     color: #f8f8f2 !important;
//     border: none;
//   }
//   .CodeMirror-gutters {
//     background-color: #282a36 !important;
//     color: #f8f8f2 !important;
//     border: none;
//     color: #282a36;
//   }
//   .CodeMirror-cursor {
//     border-left: thin solid #f8f8f0;
//   }
//   .CodeMirror-linenumber {
//     color: #6d8a88;
//   }
//   &.CodeMirror-focused div.CodeMirror-selected {
//     background: hsla(0, 0%, 100%, 0.1);
//   }
//   .CodeMirror-line {
//     &::selection {
//       background: hsla(0, 0%, 100%, 0.1);
//     }
//     > span {
//       &::selection, > span::selection {
//         background: hsla(0, 0%, 100%, 0.1);
//       }
//     }
//     &::-moz-selection {
//       background: hsla(0, 0%, 100%, 0.1);
//     }
//     > span {
//       &::-moz-selection, > span::-moz-selection {
//         background: hsla(0, 0%, 100%, 0.1);
//       }
//     }
//   }
//   span {
//     &.cm-comment {
//       color: #6272a4;
//     }
//     &.cm-string, &.cm-string-2 {
//       color: #f1fa8c;
//     }
//     &.cm-number {
//       color: #bd93f9;
//     }
//     &.cm-variable {
//       color: #50fa7b;
//     }
//     &.cm-variable-2 {
//       color: #fff;
//     }
//     &.cm-def {
//       color: #ffb86c;
//     }
//     &.cm-keyword, &.cm-operator {
//       color: #ff79c6;
//     }
//     &.cm-atom {
//       color: #bd93f9;
//     }
//     &.cm-meta {
//       color: #f8f8f2;
//     }
//     &.cm-tag {
//       color: #ff79c6;
//     }
//     &.cm-attribute, &.cm-qualifier {
//       color: #50fa7b;
//     }
//     &.cm-property {
//       color: #66d9ef;
//     }
//     &.cm-builtin, &.cm-variable-3 {
//       color: #50fa7b;
//     }
//   }
//   .CodeMirror-activeline-background {
//     background: hsla(0, 0%, 100%, 0.1);
//   }
//   .CodeMirror-matchingbracket {
//     text-decoration: underline;
//     color: #fff !important;
//   }
// }
//
// .CodeMirror-hints {
//   position: absolute;
//   z-index: 6;
//   overflow: hidden;
//   list-style: none;
//   margin: 0;
//   padding: 2px;
//   box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
//   border-radius: 3px;
//   border: 1px solid silver;
//   background: #fff;
//   font-size: 90%;
//   font-family: monospace;
//   max-height: 20em;
//   overflow-y: auto;
// }
//
// .CodeMirror-hint {
//   margin: 0;
//   padding: 0 4px;
//   border-radius: 2px;
//   white-space: pre;
//   color: #000;
//   cursor: pointer;
// }
//
// li.CodeMirror-hint-active {
//   background: #08f;
//   color: #fff;
// }
//
// .repl {
//   box-sizing: border-box;
//   &:not([class^='CodeMirror']) {
//     box-sizing: border-box;
//   }
//   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
//   font-size: 14px;
//   line-height: 1.15;
//   background-color: #282a36;
//   position: relative;
//   flex-direction: column;
//   flex: 1 0 auto;
//   -ms-text-size-adjust: 100%;
//   -webkit-text-size-adjust: 100%;
//   pre {
//     font-family: monospace, monospace;
//     font-size: 1em;
//   }
//   button, input, textarea {
//     font-family: sans-serif;
//     font-size: 100%;
//     line-height: 1.15;
//   }
//   button, input {
//     overflow: visible;
//   }
//   button {
//     text-transform: none;
//   }
//   [type=button], [type=reset], button {
//     -webkit-appearance: button;
//   }
//   [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, button::-moz-focus-inner {
//     border-style: none;
//     padding: 0;
//   }
//   [type=button]:-moz-focusring, [type=reset]:-moz-focusring, button:-moz-focusring {
//     outline: 1px dotted ButtonText;
//   }
//   textarea {
//     overflow: auto;
//   }
//   &::-webkit-file-upload-button {
//     -webkit-appearance: button;
//     font: inherit;
//   }
//   .CodeMirror-hscrollbar {
//     display: none !important;
//   }
//   .CodeMirror {
//     height: auto;
//     line-height: 1.5;
//   }
// }
//
// .repl-panel-header {
//   background: #44475a;
// }
//
// .repl-title {
//   color: #f8f8f2;
//   font-weight: 800;
//   font-size: 1em;
//   line-height: 1.15;
//   padding: .5em .5em .4em 2em;
//   margin: 0;
//   display: inline-block;
//   text-transform: uppercase;
// }
//
// .repl-url-out {
//   background: #44475a;
//   color: #44475a;
//   border: none;
//   border-radius: 1px;
//   font-size: 1em;
//   vertical-align: middle;
//   padding: .2em;
//   outline: none;
//   &:valid {
//     background: #f8f8f2;
//   }
//   &:invalid {
//     visibility: hidden;
//   }
// }
//
// .repl textarea {
//   resize: none;
//   background: #282a36;
//   border: transparent;
// }
//
// @keyframes b {
//   to {
//     transform: rotate(1turn);
//   }
// }
//
//
// .repl-spinner {
//   display: none;
//   width: 1em;
//   height: 1em;
//   border: 2px solid #fff;
//   border-radius: .5em;
//   position: absolute;
//   top: .5em;
//   right: .5em;
//   animation: b 0.5s linear infinite;
//   &:before {
//     content: '';
//     display: block;
//     width: .25em;
//     height: .25em;
//     background: #282a36;
//   }
// }
//
// .repl-loading .repl-spinner {
//   display: block;
// }
//
// .repl-btn {
//   background-color: transparent;
//   border: 0;
//   color: #f8f8f2;
//   cursor: pointer;
//   font-weight: 400;
//   font-size: 1em;
//   flex: 0;
//   position: relative;
//   padding: 0.5em 0.5em 0.4em;
//   &:after {
//     content: '';
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     height: 1px;
//     background: #8be9fd;
//     opacity: 0;
//     transition: all 30ms ease-in-out;
//   }
//   &:focus:after, &:hover:after {
//     height: 4px;
//     opacity: 1;
//   }
//   &:focus {
//     outline: 5px auto -webkit-focus-ring-color;
//     outline-offset: -2px;
//   }
// }
//
// .repl-btn-danger {
//   &:focus, &:hover {
//     color: #f55;
//   }
//   &:after {
//     background: #f55;
//   }
// }
//
// .repl-console-log, .repl-error {
//   font-size: .93em;
//   margin: .5em 1em;
//   border: 0;
//   background: transparent;
//   padding: 0;
// }
//
// .repl-console-log:empty, .repl-error:empty {
//   margin: 0;
// }
//
// .repl-console-log {
//   color: #6272a4;
// }
//
// .repl-error {
//   color: #f55;
// }
//
// .repl, .repl-panels {
//   height: 100%;
//   display: flex;
// }
//
// .repl-panel, .repl-panels {
//   flex: 1 0 auto;
// }
//
// .repl-panel {
//   display: flex;
//   width: 50%;
//   flex-direction: column;
// }
//
// .repl-panel-header {
//   flex: 0 1 auto;
// }
//
// .repl-panel-body {
//   overflow: auto;
//   flex: 1 1 auto;
// }
//
// .repl-panel--input {
//   .repl-panel-body {
//     display: flex;
//   }
//   .CodeMirror {
//     width: 100%;
//   }
// }
//
// .repl-panel--output .CodeMirror {
//   margin-left: 0.75em;
// }
//
// .repl-midline {
//   background-color: #44475a;
//   position: absolute;
//   left: 50%;
//   top: 0;
//   bottom: 0;
//   width: 2px;
//   z-index: 1;
// }
//
// .repl-icon {
//   font-family: sans-serif;
//   display: none;
//   width: 1em;
//   height: 1em;
//   border-radius: .5em;
//   top: .5em;
//   right: .5em;
//   position: absolute;
//   color: #f8f8f2;
//   text-align: center;
//   line-height: 1em;
//   font-style: normal;
//   cursor: default;
// }
//
// .repl-icon--danger {
//   background: #f55;
// }
//
// .repl-icon--warning {
//   background: #ffb86c;
//   color: #44475a;
// }
//
// .repl--missing-script .repl-icon--warning, .repl--no-ramda .repl-icon--danger {
//   display: block;
// }
//
// @media (max-width: 991px) {
//   .repl-midline {
//     display: none;
//   }
//   .repl-panels {
//     flex-direction: column;
//   }
//   .repl-panel {
//     width: 100%;
//     min-height: 0;
//   }
//   .repl-panel--input {
//     flex: 0 0 auto;
//   }
//   .repl-panel--output {
//     flex: 0 1 auto;
//   }
// }
